<div class="blog_container" itemscope itemtype="http://schema.org/BlogPosting">

  {{#link-to "index" class="home" title="Go to home page"}}{{/link-to}}

  <h1>
    {{!-- <%= data.page.title %>
    <div class="blog-date">
      (<%= data.page.date.strftime('%m/%d/%Y') %>)
    </div> --}}

    {{!-- <meta itemprop="author" content="<%= $my_name %>">
    <meta itemprop="url" content="http://briananders.net<%= current_page.url %>">
    <meta itemprop="name" content="<%= data.page.title %>">
    <meta itemprop="datePublished" content="<%= data.page.date.strftime('%m/%d/%Y') %>"> --}}

    {{#link-to "index" title="Brian Anders" class="author"}}Brian Anders{{/link-to}}
  </h1>

  {{yield}}

</div>

{{partial "social-links"}}