<div class="container">
  <h2><a target="_blank" href="http://instagram.com/briananders" title="My Instagram profile">Instagram</a></h2>

  {{#each images as |photo|}}
    <a target="_blank" href="{{photo.link}}" title="{{photo.caption}}">
      {{image-tag src=photo.url alt=photo.caption }}
    </a>
  {{/each}}
</div>
