<ul>
  <li class="{{active blogService.currentRoute 'index'}}">{{#link-to 'index'}}Main{{/link-to}}</li>
  <li class="{{active blogService.currentRoute 'thoughts'}}">{{#link-to 'thoughts'}}Thoughts{{/link-to}}</li>
  <li class="{{active blogService.currentRoute 'experience'}}">{{#link-to 'experience'}}Experience{{/link-to}}</li>
</ul>