@import "base-styles";




section.blog {
  margin-bottom: 0;
  padding-bottom: 0;

  .dot-dot-dot {
    font-size: 20px;
    line-height: 10px;
  }
  .blog-tile,
  .blog-tile:visited {
    line-height: 1.5;
    width: 100%;
    display: block;
    float: left;
    overflow: hidden;
    @include box-sizing(border-box);
    margin-bottom: 2.5vw;
    position: relative;
    text-align: left;
    padding-bottom: 2.5vw;
    border-bottom: 1px solid $light-gray;

    h3 {
      margin: 0;
    }
    time {
      display: block;
    }

    .description {
      color: $text-gray;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
  .filter-list {
    padding: 0;
    margin: 0 0 3vw;
    line-height: 8vw;
    font-size: 4vw;
  }
  .filter-item {
    padding: 0;
    margin: 0;
    display: inline-block;
    list-style: none;
  }
  .filter-button {
    border: none;
    border-radius: 2px;
    font-size: 4vw;
    line-height: 4vw;
    font-family: "Times New Roman", Times, serif;
    background: none;
    @include transition(background 0.2s ease, color 0.2s ease);

    &.active {
      background: $color-secondary-2-0;
      color: $background;
    }
  }
}

a.image-holder {
  width: 100%;
  display: block;
  margin-bottom: 2vw;

  img {
    width: 100%;
    display: block;
  }
  &.panorama {
    img {
    }
  }
  &.last {
    margin-bottom: 0;
  }
}
div {
  &.row {
    overflow: hidden;
  }
  &.apple-map {
    @include columns(4);
    @include image-2x('/assets/images/blog/AppleCampus2/1x/apple-campus-2-map.jpg', '/assets/images/blog/AppleCampus2/2x/apple-campus-2-map.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 49.549718023%;
    float: left;
    background-size: auto 100%;
    margin-left: 0;
  }
  &.apple-rendering {
    @include columns(8);
    @include image-2x('/assets/images/blog/AppleCampus2/1x/Apple_Campus_2_rendering.jpg', '/assets/images/blog/AppleCampus2/2x/Apple_Campus_2_rendering.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 49.549718023%;
    float: left;
    background-size: auto 100%;
    margin-right: $gutter;
  }
}
blockquote {
  border-left: 5px solid $color-secondary-2-0;
  margin: 0;
  padding: 10vw;

  p {
    margin: 0;
  }
}

code {
  white-space: pre;
  overflow-x: auto;
  font-family: monospace, serif;
  font-size: 3vw;
  padding: 3vw;
  display: block;
  border: 1vw solid #FFA700;
}

.author {
  font-size: 24px;
}




.blog-container {
  padding: 5vw 3vw;

  .home {
    display: block;
    position: relative;
    top: 12px;
  }

  img {
    display: block;
    margin: 10px auto;
  }
}
