@import "base-styles";




section.blog {

  .blog-tile,
  .blog-tile:visited {
    line-height: 1.5;
    width: 100%;
    display: block;
    float: left;
    overflow: hidden;
    @include box-sizing(border-box);
    margin-bottom: 2.5vw;
    position: relative;
    text-align: left;
    padding-bottom: 2.5vw;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    border-left-width: 5px;
    border-left-color: #555;
    border-left-style: solid;
    @include transition(border-left 1s ease);

    h3 {
      margin: 0;
    }
    time {
      display: block;
    }

    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }

    &:hover {
      opacity: 1;
      border-left-color: $violet;
    }
  }
  .filter-list {
    padding: 0;
    margin: 0 0 3vw;
    line-height: 8vw;
    font-size: 4vw;
  }
}

a.image-holder {
  width: 100%;
  display: block;
  margin-bottom: 2vw;

  img {
    width: 100%;
    display: block;
  }
  &.panorama {
    img {
    }
  }
  &.last {
    margin-bottom: 0;
  }
}
div {
  &.row {
    overflow: hidden;
  }
  &.apple-map {
    @include columns(4);
    @include image-2x('/assets/images/blog/AppleCampus2/1x/apple-campus-2-map.jpg', '/assets/images/blog/AppleCampus2/2x/apple-campus-2-map.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 49.549718023%;
    float: left;
    background-size: auto 100%;
    margin-left: 0;
  }
  &.apple-rendering {
    @include columns(8);
    @include image-2x('/assets/images/blog/AppleCampus2/1x/Apple_Campus_2_rendering.jpg', '/assets/images/blog/AppleCampus2/2x/Apple_Campus_2_rendering.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 49.549718023%;
    float: left;
    background-size: auto 100%;
    margin-right: $gutter;
  }
}
blockquote {
  margin: 0;
  padding: 10vw;

  p {
    margin: 0;
  }
}

code {
  white-space: pre;
  overflow-x: auto;
  font-family: monospace, serif;
  font-size: 3vw;
  padding: 3vw;
  display: block;
  background-color: rgba(255,255,255,0.3);
}

.author {
  font-size: 24px;
}




.blog-container {
  // background-color: $burnt-orange;
  padding: 5vw 3vw;

  > * {
    width: 800px;
    max-width: 100%;
    margin-left: 0;
    margin-right: auto;
  }

  .home {
    display: block;
    position: relative;
    top: 12px;
  }

  img {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}















@include mq(500px) {

  section.blog {
    .blog-tile,
    .blog-tile:visited {
      margin-bottom: 12.5px;
      padding-bottom: 5px;
    }
    .filter-list {
      margin: 0 0 15px;
      line-height: 40px;
      font-size: 20px;
    }
    .filter-button {
      font-size: 20px;
      line-height: 20px;
    }
  }

  a.image-holder {
    margin-bottom: 10px;
  }
  blockquote {
    padding: 50px;
  }

  code {
    font-size: 15px;
    padding: 15px;
  }

  .blog-container {
    padding: 25px 15px;
  }

}