@import "base-styles";

.four-oh-four {

  section h1 {
    margin-top: 0;
  }

  h2.key {
    margin: 0;
  }

  .row {
    margin-bottom: 5vw;

    &:last-child {
      margin: 0;
    }
  }
}










@include mq(500px) {

  .four-oh-four {

    .row {
      margin-bottom: 25px;
    }

  }

}
