@import "base-styles";








.content {
  min-height: 300px;
}
section {
  width: 100%;
  margin: auto;
  height: auto;
  overflow: hidden;
  position: relative;
  padding: 5vw 0;
  @include box-sizing(border-box);
  @include transition(height 0.5s ease);

  &.about-me {
    width: 100%;
    height: auto;

    > h2 {
      display: block;
      margin-bottom: 10px;
    }
  }
  p {
    margin: 0 0 5vw;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  &.instagram,
  &.albums {
    h2 a {
      float: none;
      width: auto;
      padding-top: 0;

      &:hover {

      }
    }
    a {
      width: 50%;
      float: left;
      opacity: 1;
      position: relative;
      padding-top: 50%;
      height: 0;
      top: 0px;
      @include transition(top 0.2s ease);

      img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
      }

      &.image:hover,
      &.album:hover {
        top: -1vw;
      }
    }
  }
}








@include mq(500px) {

  section {
    padding: 25px 0;

    p {
      margin: 0 0 25px;
    }

    &.instagram,
    &.albums {
      a {
        &.image:hover,
        &.album:hover {
          top: -5px;
        }
      }
    }
  }

}








@include mq(670px) {

  section {
    &.instagram,
    &.albums {
      a {
        width: 25%;
        padding-top: 25%;
        max-width: 320px;
      }
    }
  }

}








// @include mq(990px) {

//   section {
//     &.instagram,
//     &.albums {
//       a {
//         width: 25%;
//         padding-top: 25%;
//         max-width: 320px;
//       }
//     }
//   }

// }

