.album-tile,
.artist-tile {
  background: white;
  margin-bottom: 3vw;

  img {
    width: 100%;
  }

  ul {
    padding: 3vw;
  }

  li,
  h3 {
    line-height: 1.5;
    margin: 0;
  }
}











@include mq(340px) {

  .albums,
  .artists {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .album-tile,
  .artist-tile {
    width: 320px;
    margin-bottom: 10px;
    flex-grow: 1;

    .album,
    .artist {
      float: none;
      width: 100%;
    }
    ul {
      float: none;
      width: 100%;
      padding: 10px;
    }
  }

}









@include mq(670px) {

  .album-tile,
  .artist-tile {
    &:nth-child(2n) {
      margin-left: 5px;
    }
    &:nth-child(2n+1) {
      margin-right: 5px;
    }
  }

}










@include mq(1005px) {

  .album-tile,
  .artist-tile {
    &:nth-child(2n) {
      margin-left: auto;
    }
    &:nth-child(2n+1) {
      margin-right: auto;
    }

    &:nth-child(3n) {
      margin-left: 5px;
    }
    &:nth-child(3n+1) {
      margin-right: 5px;
    }
    &:nth-child(3n+2) {
      margin-right: 5px;
      margin-left: 5px;
    }

    &:last-child {
      display: none;
      visibility: hidden;
    }
  }

}
