@import "base-styles";








section.work {
  padding-bottom: 0;

  > h2 {
    margin-bottom: 10px;
  }

  .work-link {
    display: block;
  }

  .work-row {
    &.nest {
      background-color: #2FC9EF;
    }
    &.principal {
      background-color: #FFFFFF;
    }
    &.smith {
      background-color: #EFEFEF;
    }
    &.graceland {
      background-color: #FFFFFF;
    }
    &.anders {
      background-color: #F5B547;
    }
  }

  .work-tile {
    width: 100%;
    height: 0;
    padding-top: 100%;
    @include transform(scale(1));
    @include transition(transform .2s ease, z-index .2s ease);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 70%;
    position: relative;

    &.nest {
      background-color: #2FC9EF;
      background-image: url('/assets/images/work/nest.png');
    }
    &.principal {
      background-color: #FFFFFF;
      @include image-2x('/assets/images/work/principal.jpg', '/assets/images/work/principal_2x.jpg');
    }
    &.smith {
      background-color: #EFEFEF;
      background-image: url('/assets/images/work/smith.png');
    }
    &.graceland {
      background-color: #FFFFFF;
      background-image: url('/assets/images/work/graceland.jpg');
    }
    &.anders {
      background-color: #F5B547;
      background-image: url('/assets/images/work/anders.png');
    }
  }

  p {
    margin: 10px 0 30px;
  }

  .links {
    margin: 20px;
    margin-bottom: 0;
  }
}










@include mq(500px) {
  section.work {

    .work-tile {
      padding-top: 470px;
      width: 470px;
      margin: auto;
    }

  }
}
