@import "base-styles";








section.work {

  > h2 {
    margin-bottom: 10px;
  }

  .work-tile {
    width: 100%;
    height: 0;
    padding-top: 100%;
    z-index: 0;
    @include transform(scale(1));
    @include transition(transform .2s ease, z-index .2s ease);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 70%;
    position: relative;
    z-index: 0;

    &.nest {
      background-color: #2FC9EF;
      background-image: url('/assets/images/work/nest.png');
    }
    &.principal {
      background-color: #FFFFFF;
      @include image-2x('/assets/images/work/principal.jpg', '/assets/images/work/principal_2x.jpg');
    }
    &.smith {
      background-color: #EFEFEF;
      background-image: url('/assets/images/work/smith.png');
    }
    &.graceland {
      background-color: #FFFFFF;
      background-image: url('/assets/images/work/graceland.jpg');
    }
    &.anders {
      background-color: #F5B547;
      background-image: url('/assets/images/work/anders.png');
    }
    &:hover {
      @include transform(scale(.98));
      z-index: 1;
    }
  }

  p {
    margin: 10px 0 30px;
  }

  .links {
    margin: 20px;
    margin-bottom: 0;
  }
}






@include mq(400px) {
  section.work {
    .work-tile {
      padding-top: 50%;

      &.smith {
        background-size: auto 70%;
      }
    }
  }
}






@include mq(700px) {
  section.work {
    .work-tile {
      width: 40%;
      float: left;

      &.nest {
        width: 100%;
      }
      &.smith {
        background-size: 70%;
      }
    }
    .nest > a {
      display: block;
      overflow: hidden;
    }
    .row {
      overflow: hidden;

      .description-tile {
        width: 60%;
        float: right;
        padding-top: 50%;
        height: 0;
        position: relative;

        p {
          position: absolute;
          top: 50%;
          @include transform(translateY(-50%));
          margin: 0;
          padding-left: 20px;
        }
      }

      &:nth-child(2n) {

        .work-tile {
          float: right;
        }
        .description-tile {
          float: left;

          p {
            padding-left: 0;
            padding-right: 20px;
          }
        }
      }
    }
  }
}








html.lt-ie9 {
  section.work {
    .work-tile, .work-tile.nest {
      width: 100%;
      padding-top: 40%;
    }
  }
}
