<section class="about-me thin">
  <h2>Me</h2>
  <p>
    Hey, I'm Brian Anders and this is my website. I am a UX Engineer at <a href="http://www.nest.com" title="Nest Labs" target="blank">Nest</a>, an <a href="https://abc.xyz/" title="Alphabet" target="blank">Alphabet</a> company, and I like to tinker.
  </p>
  <p>
    I live in Silicon Valley, California. Rural Iowa is my true home though; I grew up there. In 2013 I began working at Nest, located in Palo Alto, where I spend my days building the internet.
  </p>
  <p>
    Some of my interests include music, <a href="http://www.imdb.com/user/ur23740510/" title="My IMDb profile" target="blank">movies</a>, and long walks on the beach.
    I also enjoy UX design, sunshine, camping, nature, and oxford commas.
  </p>
</section>