<section class="about-me thin">
  <div class="container">
    <p>
      I live in Silicon Valley, California. Rural Iowa is my true home though; I grew up there. In 2013 I joined <a href="http://www.nest.com" title="Nest Labs" target="blank">Nest Labs</a>, located in Palo Alto, where I spend my days engineering <a href="http://www.nest.com" title="nest.com" target="blank">nest.com</a>.
    </p>
  </div>
</section>
