<div class="content">

  <header id="header" itemscope itemtype="http://schema.org/Person">
    <div class="container">
      <h1 class="name-link" {{action 'goHome'}}>Brian Anders</h1>
      <meta itemprop="name" content="Brian Anders">
      <meta itemprop="url" content="http://briananders.net">
      <meta itemprop="jobTitle" content="UX Engineer">
    </div>
  </header>

  {{outlet}}

</div>

{{partial "external-links"}}
