<svg class="galaxy" version="1.1" xmlns="http://www.w3.org/2000/svg" ></svg>

<div class="container">

  <div class="content">

    <header id="header" itemscope itemtype="http://schema.org/Person">
      <h1>Brian Anders</h1>
      <meta itemprop="name" content="Brian Anders">
      <meta itemprop="url" content="http://briananders.net">
      <meta itemprop="jobTitle" content="UX Engineer">
    </header>

    {{outlet}}

  </div>

  {{partial "external-links"}}

</div>