{{#blog-layout}}
  <ul>
    <li>
      <h3>The Last Shadow Puppets</h3>
      <h4>Everything You've Come to Expect</h4>
      <p></p>
    </li>


    <li>
      <h3>blink-182</h3>
      <h4>California</h4>
      <p></p>
    </li>


    <li>
      <h3>Panic! at the Disco</h3>
      <h4>Death of a Bachelor</h4>
      <p></p>
    </li>


    <li>
      <h3>Saosin</h3>
      <h4>Along the Shadow</h4>
      <p></p>
    </li>


    <li>
      <h3>Red Hot Chili Peppers</h3>
      <h4>The Getaway</h4>
      <p></p>
    </li>


    <li>
      <h3>Good Charlotte</h3>
      <h4>Youth Authority</h4>
      <p></p>
    </li>


    <li>
      <h3></h3>
      <h4></h4>
      <p></p>
    </li>


    <li>
      <h3></h3>
      <h4></h4>
      <p></p>
    </li>


    <li>
      <h3></h3>
      <h4></h4>
      <p></p>
    </li>


    <li>
      <h3></h3>
      <h4></h4>
      <p></p>
    </li>


    <li>
      <h3></h3>
      <h4></h4>
      <p></p>
    </li>
  </ul>



Elton John   Wonderful Crazy Night
Simple Plan   Taking One for the Team
Macklemore & Ryan Lewis   This Unruly Mess I've Made
Sixx:A.M.   Prayers for the Damned: Vol. 1
Dance Gavin Dance   Tree City Sessions

{{/blog-layout}}