
{{partial "about-me"}}


<section class="albums">
  <div class="container">
    <h2>{{#link-to 'last-fm'}}Scrobbles{{/link-to}}</h2>
    {{album-scrobbles-section length=4}}
  </div>
</section>


{{blog-section class="thin"}}